* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

:root {
    --clr-background: #2d5b3e;
    --clr-white: #ffffff;
    --clr-primary: #2d5b3e;
    --clr-dark-gray: #263238;
    --clr-light-gray: #eceff1;
    --clr-complement: #c1a187;
    --font-size: 16px;
    --border-radius: 0.2em;
    --center: 0.5;
}

body, html {
    margin-top:25px ;
    margin-bottom: 25px;
    padding: 20px;
    font: bold 14px/1.4 'Poppins', Arial, sans-serif;
    background: var(--clr-primary);
    height: 100vh;
    scroll-behavior: smooth;
}

/* landing banner styling */
.background-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-text-container {
    color: var(--clr-light-gray);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.bannerBoldface {
    font-weight: 800;
    text-transform: none;
    margin-right: 5px;
}

.regular {
    font-weight: 400;
    text-transform: none;
}

.logo-link {
    text-decoration: none;
    color: var(--clr-light-gray);
    display: flex;
    align-items: center;
}

.logo-link:hover{
    color: var(--clr-light-gray);
}
.slogan {
    margin-top: 0;
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
    /*color: var(--clr-light-gray);
    font-family: ;
    font-style:italic;*/
}